<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>
            {% block title %} {% endblock %}
        </title>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'stylesheets/style-main.css' %}">
    </head>
    {% block body %} {% endblock %}
        <header>
            <a href="{% url 'index-view' %}"><h1>Le tchat du laitier</h1></a>
            {% if messages %}
                <div class="error-messages">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% block header-buttons %} {% endblock %}
        </header>
        <section class="full-center">
            {% block content %} {% endblock %}
        </section>
        <section class="wave-background"><div></div> <div></div> <div></div></section>
        <footer>
            <p>Isaac Dalberto, Corentin Leandre et Sofia Saadi - ENSISA 1A IR - 2023</p>
        </footer>
    </body>

    <script type="text/javascript" src="{% static 'scripts/jquery-3.6.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/client-interactions.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/running-script.js' %}"></script>
</html>