<div id="main-container">
    <div id="sidebar">
        <ul id="conversation-list">
            {% if conversation_list %}
                {% for conversation in conversation_list %}
                <li>
                    <div class="conversation">
                        <p>{{ conversation.name }}</p>
                        <p>Créé par {{ conversation.author }} le {{ conversation.creation_date }}</p>
                        <!--<p>Mis à jour par Tartiine le 11/01/2023 22:52</p>-->
                    </div>
                </li>
                {% endfor %}
            {% else %}
                <p>Il n'y a aucune conversation disponible.</p>
            {% endif %}
        </ul>
        <svg viewBox="0 0 80 80" id="show-button">
            <g fill="none" stroke="currentColor" stroke-width="10" stroke-linecap="round">
                <path id = "show-button-graphics" d="M5,10 h70 M5,40 h70 M5,70 h70"/>
            </g>
        </svg>
        <svg viewBox="0 0 80 80" id="add-conv-button">
            <g fill="none" stroke="currentColor" stroke-width="10" stroke-linecap="round">
                <path id = "add-conv-button-graphics" d="M40,40 L40,40 M40,40 L40,40"/>
            </g>
        </svg>
        <input type="text" name="new-conv" id="new-conv" autocomplete="off" placeholder="Nouvelle conversation">
    </div>
    <div id="conversation-title">
        <h3>Sujet de la conversation n°1</h3>
    </div>
    <div id="conversation-thread">
        {% if conversation_list %}
            {% for message in message_list %}
            {% if message.chat == conversation %}
                <li>
                {% if user.is_authenticated %}
                    {% if user.username == message.author %}
                        <div class="message-me">
                    {% else %}
                        <div class="message-other">
                    {% endif %}
                {% else %}
                    <div class="message-other">
                {% endif %}
                        <p>{{ message.author }}</p>
                        <p>{{ message.content }}</p>
                        <p>{{ message.publication_date }}</p>
                    </div>
                </li>
            {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div id="writing-area">
        <form method="post" action="post.js">
            {% if user.is_authenticated %}
            <input type="text" name="new-message" id="new-message" autocomplete="off" placeholder="Entrez un message">
            {% else %}
            <p id="new-message">Connectez-vous pour participer à la conversation</p>
            {% endif %}
        </form>
    </div>
</div>