{% extends "chat/base_layout.html" %}

{% block title %}Modération - Le tchat du laitier{% endblock %}


{% block header-buttons %}
    {% if user.is_authenticated %}
        <p id="header-gap">Bienvenue, {{ user.username }}</p>
        <a href="{% url 'moderation-view' %}" title="Retour à la modération" class="header-button">
            <svg viewBox="0 0 80 80">
                <g fill="none" stroke="currentColor" stroke-width="10" stroke-linecap="round">
                    <path d="M5,40 L40,20 M5,40 L75,40 M5,40 L40,60"/>
                </g>
            </svg>
        </a>
        <a href="{% url 'index-view' %}?logout=1" class="header-button">Se déconnecter</a>
    {% else %}
        <p id="header-gap">Vous n'êtes pas encore connecté</p>
        <a href="{% url 'account_login' %}" class="header-button">Se connecter</a>
        <a href="{% url 'account_signup' %}" class="header-button">S'inscrire</a>
    {% endif %}
{% endblock %}

{% block body %}<body id="moderation">{% endblock %}

{% block content %}
<div id="rights-main-container">
    <div id="rights-title">
        <h3>Droits - {{ main_user.username }}</h3>
    </div>
                <script>
                    function changeRights(data) {
                        var csrf_token = "{{ csrf_token }}";
                        fetch('/changeRights/', {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': csrf_token,
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({data})
                        }).then(response => {
                        if (response.status === 200) {
                            window.location.href = '/rights';
                        }
                    });
                    }
                </script>               
    <form method="post" id="rights-form-admin" class="rights-row-simple">
        <label for="param-conv-create"><h4>Administrateur</h4></label>
        <input type="checkbox" name="param-admin" id="param-admin" onClick="changeRights('{{ main_user.username }}')">  
    </form>
    <form method="post" id="rights-form-general">
        <h4>Droits généraux</h4>
        <div class="rights-row-simple">
            <input type="checkbox" name="param-conv-create" id="param-conv-create">  
            <label for="param-conv-create">Créer une conversation</label>
        </div>
        <div class="rights-row-simple">
            <input type="checkbox" name="param-conv-delete" id="param-conv-delete">
            <label for="param-conv-delete">Supprimer une conversation</label>
        </div>
            <div class="rights-row-simple">
            <input type="checkbox" name="param-conv-rename" id="param-conv-rename">
            <label for="param-conv-rename">Renommer une conversation</label>
        </div>
    </form>

    <div id="rights-per-conversation">
        <h4>Par conversation</h4>
        {% if conversation_list %}
            <div class="rights-row" id="rights-per-conversation-title">
                <div>Nom de la conversation</div>
                <label class="rights-conversation">Lire</label>
                <label class="rights-conversation">Ecrire</label>
                <label class="rights-conversation">Supprimer les messages des autres</label>
            </div>
            <form method="post" class="rights-row" id="rights-per-conversation-all">
                <div><p>Toutes</p></div>
                <label class="rights-conversation"><input type="checkbox" name="param-read"></label>
                <label class="rights-conversation"><input type="checkbox" name="param-write"></label>
                <label class="rights-conversation"><input type="checkbox" name="param-delete-others"></label>
            </form>
            <div id="rights-conversation-list">
                {% for conversation in conversation_list %}
                <form method="post" class="rights-row">
                    <div><p>{{ conversation.name }}</p></div>
                    <label class="rights-conversation"><input type="checkbox" name="param-read"></label>
                    <label class="rights-conversation"><input type="checkbox" name="param-write"></label>
                    <label class="rights-conversation"><input type="checkbox" name="param-delete-others"></label>
                </form>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}