__pycache__/
*.pyc
*.log
db.sqlite3
chat_server/sqlite3.exe
chat_server/chat_server/__pycache__/__init__.cpython-310.pyc
chat_server/chat_server/__pycache__/settings.cpython-310.pyc
*.pyc
chat_server/db.sqlite3
chat_server/chat/migrations/0001_initial.py
