<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Se connecter - Le tchat du laitier</title>
        <meta charset="utf-8">
		{% load static %}
		{% csrf_token %}
        <link rel="stylesheet" href="{% static 'stylesheets/style-login.css' %}"> 
    </head>
    <body id="login-html">
        <header>
            <a href="{% url 'index-view' %}"><h1>Le tchat du laitier</h1></a>
        </header>
        <section class="full-center">
            <div class="login-main">
                <h3>Se connecter</h3>
                <form method="post" action="{% url 'account_login' %}">
                    <input type="text" name="login" id="login" placeholder="Nom d'utilisateur">
                    <input type="password" name="password" id="password" placeholder="Mot de passe">
                    <div id="login-main-bottom">
                        <a href="{% url 'account_signup' %}">S'inscrire</a>
                        <input type="submit" name="send" value="Se connecter">
                    </div>
                </form>
            </div>
        </section>
        <section class="wave-background"><div></div> <div></div> <div></div></section>
        <footer>
            <p>Isaac Dalberto, Corentin Leandre et Sofia Saadi - ENSISA 1A IR - 2023</p>
        </footer>
    </body>
</html>