@font-face { font-family: "EleganTech"; src: url("../fonts/EleganTech.ttf") format("truetype"); }
:root {
    --color-button-inactive: #818f95;
    --color-button-hover: #b5b5b5;
    --color-button-active: #dfdfdf;
    --color-menu-bg: #233155;
    --color-menu-button: #8da4e0;

    --button-padding: 15px;
    --text-size-main: 14px;

    --menu-emoji-size: 10px;
    --menu-columns: 5;
    --menu-rows: 5;
    --menu-padding: 10px;
    
    --interpolation-hover: cubic-bezier(.33,.1,.41,.98);
}

#emoji-button {
    position: absolute;
    top: 15px;
    right: 15px;
    height: fit-content;
    width: fit-content;
}
#emoji-button svg {
    display: block;
    height: calc(var(--text-size-main) + 10px);
    transform-origin: center center;
    color: var(--color-button-inactive);
    transition: 0.15s var(--interpolation-hover);
}
#emoji-button svg:hover {
    transform: scale(1.1);
    color: var(--color-button-hover);
}
#emoji-button svg:active {
    transform: scale(1.2);
    color: var(--color-button-active);
}
#emoji-menu {
    display: none;
    position: absolute;
    justify-content: space-evenly;
    width: 300px;
    height: 200px;
    flex-wrap: wrap;
    row-gap: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: var(--menu-padding);
    background-color: var(--color-menu-bg);
    border-radius: calc(var(--menu-padding) * 0.75);
    right: 0;
    bottom: calc(100% + var(--main-padding));
}

.emoji-menu-button {
    margin: 0;
    display: inline-block;
    text-align: center;
    height: 35px;
    vertical-align: bottom;
    line-height: 35px;
    width: 35px;
    border-radius: 8px;
    font-size: 25px;
    background-color: var(--color-menu-button);
    border: none;

    font-family: "EleganTech", Arial, Helvetica, sans-serif;
}