:root {
    --color-cstm-blue: #5f75ae;
    --color-cstm-green: #9cd9b7;
    --color-cstm-semi-dark-green: #8dc9a8; 
    --color-cstm-gray: #454545;
    --color-text-light: #dfdfdf;
    --color-text-semilight: #b5b5b5;
    --color-text-dark: #202020;

    --header-size: 60px;

    --main-padding: 30px;
    --main-gap: 16px;
    --text-size-main: 14px;
    --login-background-color: #3f435c;

    --register-background-color: #3f595c;

    --interpolation-hover: cubic-bezier(.33,.1,.41,.98);
}

@font-face { font-family: "EspressoDolce"; src: url("../fonts/EspressoDolce.ttf") format("truetype"); }
@font-face { font-family: "EleganTech"; src: url("../fonts/EleganTech.ttf") format("truetype"); }
  
*{
    margin: 0;
    padding: 0;
    font-family: "EleganTech", Arial, Helvetica, sans-serif;
    font-size: var(--text-size-main);
}

h2 {
    text-align: center;
    color: var(--color-text-dark);
    font-family: "EspressoDolce", Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color-cstm-blue);
}

section {
    width: 100%;
    height: 100%;
}