{% extends "auth/base_layout.html" %}
{% block title %}Se connecter - Le tchat du laitier{% endblock %}

{% block header-buttons %} {% endblock %}
{% block body %}<body id="login-html">{% endblock %}

{% block content %}
    <div class="login-main">
        <h3>Se connecter</h3>
        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <input type="text" name="username" id="username" maxlength="40" placeholder="Nom d'utilisateur">
            <input type="password" name="password" id="password" placeholder="Mot de passe">
            <div class="error">{{ error }}</div>
            <div id="login-main-bottom">
                <a href="{% url 'account_signup' %}">S'inscrire</a>
                <input type="submit" name="send" value="Se connecter">
            </div>
        </form>
    </div>
{% endblock %}